.inputOption {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: gray;
  padding: 5px 8px;
  cursor: pointer;
}

.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOption > h4 {
  margin-left: 5px;
  margin: 0;
  font-size: 13px;
}
